/.vs
/backend/.vs
/backend/webcore_backend.Tests/.idea
/backend/webcore_backend.Tests/bin
/backend/webcore_backend.Tests/obj
backend/webcore_backend/.env
backend/webcore_backend/db_password.txt
backend/webcore_backend/appsettings.json
backend/webcore_backend/appsettings.Development.json
/backend/webcore_backend/bin
/backend/webcore_backend/obj
/backend/webcore_backend/.idea
